# Ignore node_modules folder (contains dependencies)
node_modules/

# Ignore built output
dist/
build/
out/

# Ignore logs
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error logs
yarn-error.log*

# Ignore environment variables file
.env

# Ignore any IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

locs.csv